* {
  box-sizing: border-box;
}

body {
  height: 700px;
}

header {
  background-color: black;
  height: 90px;
}

main {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#displays {
  display: flex;
  width: 750px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.turn-boxes {
  width: 50px;
  height: 50px;
  border: 2px solid black
}

#winner-display {
  height: 65px;
  width: 300px;
  border: 2px solid black
}

#boards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 350px;
  width: 350px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

#separation {
  height: 400px;
  width: 50px;
}

#ship-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 15px;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#start-reset {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#start, #reset {
  width: 100px;
  height: 30px;
}

.ships {
  width: 100px;
  height: 30px;
}

.emptySquare {
  background-color: white;
}

.chosen {
  background-color: red;
}

.compChosen {
  background-color: orange;
}

.turn {
  width: 45px;
  height: 45px;
  background-color: red;
}

